<%= form_with model: post,local:true do |f| %>
  <div class="form-group">
    <%= f.label :画像 %>
    <%= f.file_field :image, accept: 'image/*' %>
  </div>
  <div class="form-group">
    <%= f.label :投稿 %>
    <%= f.text_area :body, class: 'form-control post_body' %>
  </div>
  <div class="time">
    <%= f.label :筋トレtime %>
    <%= f.datetime_select :start_time %>
  </div>
  <div class="form-group">
    <%= f.label :"タグ（,で区切ると複数タグ登録できます）" %>
    <%= f.text_field :name, value: @tag_list,placeholder:'Workout', class: 'form-control tag_name' %>
  </div>
  <div class="form-group">
    <% if f.object.new_record? %>
      <%= f.submit "新規投稿", class: 'btn btn-success' %>
    <% else %>
      <%= f.submit "更新", class: 'btn btn-success' %>
    <% end %>
  </div>
<% end %>
