<table class='table table-hover table-inverse'>
  <tbody>
    <% posts.each do |post| %>
      <tr>
        <td width='70'><%= link_to(post.user) do %>
          <%= image_tag post.user.get_profile_image(50,50) %>
          <% end %>
          </td>
          <td>
            <%= link_to(user_path(post.user)) do%>
          <%= post.user.name %>
          <% end %>
          </td>
      </tr>
      <tr>
        <td style="border-top: none;"></td>
        <td style="border-top: none;">
            <% image = post.get_image(100, 100) %>
              <% if image.present? %>
                <%= image_tag image %><br>
                <%= link_to(post_path(post)) do %>
                  <%= post.body %>
                <% end %>
              <% else %>
                <%= link_to(post_path(post)) do %>
                  <%= post.body %>
                <% end %>
              <% end %>
        </td>
      </tr>
      <tr>
        <td align="right" style="border-top: none;" id="favorite_buttons_<%= post.id %>"　>
          <% unless current_user.email == "guest@example.com" %>
          <%= render "public/post_favorites/post_favorite", post: post %>
          <% end %>
        </td>
        <td id='comment_counter' style="border-top: none;">
          <%= link_to(post_path(post)) do %>
            <%= render 'public/comments/counter', post: post %>
          <% end %>  
          <% post.tags.each do |tag|%>
            <i class="fa-solid fa-tag"></i><%=link_to tag.name,search_tag_posts_path(tag_id: tag.id) %>
          <% end %>
          <%= post.created_at.strftime('%Y/%m/%d/%R') %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>
<%= paginate posts %>