<div class='container'>
  <div class='row'>
    <div class='col-md-8 offset-md-1 my-3'>
      <h5>投稿詳細</h5>
      <% if flash[:post_update] %>
        <div class="alert alert-success my-3">
          <%= flash[:post_update] %>
        </div>
      <% end %>
      <% if @comment.errors.any? %>
        <div class="alert alert-danger my-3" role="alert">
          <% @comment.errors.full_messages.each do |message| %>
            <p><%= message.gsub("Comment", "コメント") %></p>
          <% end %>
        </div>
      <% end %>
        <table class='table table-hover table-inverse'>
          <tbody>
              <tr>
                <td width='120'>
                  <%= link_to(@post.user) do %>
                    <%= image_tag @post.user.get_profile_image(100,100) %>
                  <% end %>
                </td>
                <td>
                  <%= link_to(@post.user) do %>
                    <%= @post.user.name %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td style="border-top: none;"></td>
                <td style="border-top: none;">
                  <% image = @post.get_image(200, 200) %>
                    <% if image.present? %>
                      <%= image_tag image %><br>
                      <%= link_to(post_path(@post)) do %>
                        <%= @post.body %>
                      <% end %>
                    <% else %>
                      <%= link_to(post_path(@post)) do %>
                        <%= @post.body %>
                      <% end %>
                    <% end %>
                </td>
              </tr>
              <tr>
                <td align="right" id="favorite_buttons_<%= @post.id %>"　>
                  <% unless current_user.email == "guest@example.com" %>
                    <%= render "public/post_favorites/post_favorite", post: @post %>
                  <% end %>
                </td>
                <td id='comment_counter'>
                  <%= render 'public/comments/counter', post: @post %>
                  <% @post_tags.each do |tag| %>
                    <i class="fa-solid fa-tag"></i><%= link_to tag.name,search_tag_posts_path(tag_id: tag.id) %>
                  <% end %>
                  <%= @post.created_at.strftime('%Y/%m/%d/%R') %>
                </td>
              </tr>
               <% if @post.user == current_user%>
              <tr>
                <td></td>
                <td><%= link_to '編集', edit_post_path(@post), class: "btn btn-sm btn-success mr-3 text-white" %>
                <%= link_to '削除', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger ml-3 text-white"%></td>
              </tr>
              <%end%>
          </tbody>
        </table>
    </div>
    </div>
  <% if current_user.email != "guest@example.com" %>
  <div class='row'>
    <div class='col-md-8 offset-md-1 my-3' id='comment_form'>
      <div class="comment-errors"></div>
      <%= render 'public/comments/form', post: @post,comment: @comment %>
    </div>
  </div>
  <% end %>
  <div class='row'>
    <div class='col-md-8 offset-md-1 my-3' id='comment_index'>
      <%= render 'public/comments/index', post: @post %>
    </div>
  </div>
  </div>