<table class='table table-hover table-inverse'>
  <% post.comments.each do |comment| %>
    <tbody>
      <tr>
        <td>
          <%= link_to user_path(comment.user) do %>
            <%= image_tag comment.user.get_profile_image(50,50) %>
          <% end %>
        </td>
        <td><%= link_to (comment.user.name),user_path(comment.user) %></td>
        <td><%= comment.comment %><%= comment.created_at.strftime('%Y/%m/%d/%R') %></td>
        <% if comment.user == current_user %>
          <td>
            <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete,
            data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger mr-3 my-auto text-white", 
            remote: true,data: {"turbolinks" => false} %>
          </td>
        <% end %>
      </tr>
    </tbody>
  <% end %>
</table>