<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto my-5">
      <h2>新規登録</h2>
      <!--退会した会員がログインしようとしたときのアラートメッセージ-->
        <% if flash[:withdraw] %>
          <div class="alert alert-danger">
            <%= flash[:withdraw] %>
          </div>
       <% end %>
      <%= form_with(model: resource, scope: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :ユーザー名 %><br />
          <%= f.text_field :name, autofocus: true, class: "name" %>
        </div>

        <div class="field">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :パスワード（６文字以上）%><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :パスワード（確認用） %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions my-3">
          <%= f.submit "新規登録",class: 'btn btn-sm btn-success' %>
        </div>
      <% end %>

      <h5>登録済みの方</h5>

      <div class="col-md-10 mx-auto">
        <%= link_to "こちら", new_session_path(resource_name) %>からログインしてください。
      </div>
    </div>
  </div>
</div>
