<p class='text-center'><%= image_tag user.get_profile_image(200,200) %></p>
 <table class='table table-hover table-inverse'>
    <tbody>
      <tr>
        <td style="border-top: none;" align="center">ユーザーID</td>
        <td style="border-top: none;" align="center"><%= user.id %></td>
      </tr>
      <tr>
        <td style="border-top: none;" align="center">ユーザー名</td>
        <td style="border-top: none;" align="center"><%= user.name %></td>
      </tr>
      <tr>
        <td style="border-top: none;" align="center">メールアドレス</td>
        <td style="border-top: none;" align="center"><%= user.email %></td>
      </tr>
      <tr>
        <td style="border-top: none;" align="center">フォロー数</td>
        <td style="border-top: none;" align="center"><%= user.following_users.count %></td>
      </tr>
      <tr>
        <td style="border-top: none;" align="center">フォロワー数</td>
        <td style="border-top: none;" align="center"><%= user.follower_users.count %></td>
      </tr>
      <tr>
        <td style="border-top: none;" align="center">ステータス</td>
        <td style="border-top: none;" align="center" class="<%= @user.is_active ? 'text-success' : 'text-muted' %>"><%= @user.is_active ? '有効' : '退会' %></td>
      </tr>
    </tbody>
  </table>
  <div class='row my-3'>
      <%= link_to "編集する ", edit_admin_user_path(user), class: "btn btn-success mx-auto text-white" %>
  </div>
  