<div class='container'>
  <div class='row'>
     <div class='col-md-8 offset-md-1 my-3'>
       <h5>ユーザー一覧</h5>
       <% if flash[:notice] %>
        <div class="alert alert-success my-3">
          <%= flash[:notice] %>
        </div>
      <% end %>
       <table class='table'>
      　<tbody>
      　  <tr>
      　    <td>ユーザーID</td>
      　    <td>ユーザー画像</td>
      　    <td>ユーザー名</td>
      　    <td>ステータス</td>
      　  </tr>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td>
                <%= link_to admin_user_path(user) do %>
                <%= image_tag user.get_profile_image(50,50) %>
                <% end %>
              </td>
              <td><%= link_to user.name, admin_user_path(user) %></td>
              <td class="<%= user.is_active ? 'text-success' : 'text-muted' %>"><strong><%= user.is_active ? '有効' : '退会' %></strong></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @users %>
     </div>
  </div>
</div>