<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <!--会員情報更新成功時のアラートメッセージ-->
      <% if flash[:edit] %>
        <div class="alert alert-success my-3">
          <%= flash[:edit] %>
        </div>
      <% end %>
      <% if flash[:post_create] %>
        <div class="alert alert-success my-3">
          <%= flash[:post_create] %>
        </div>
      <% end %>
      <% if flash[:guest_edit] %>
        <div class="alert alert-danger my-3">
          <%= flash[:guest_edit] %>
        </div>
      <% end %>
      <% if flash[:notice] %>
        <div class="alert alert-success my-3">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <h5 class='my-3'><%= @user.name %>さんのページ</h5>
      <%= render 'info', user: @user %>
    </div>
    <div class='col-md-8 offset-md-1 my-3'>
      <%= render 'public/posts/index',posts: @posts %>
    </div>  
  </div>
</div>