<header>
  <nav class="fixed-top navbar navbar-expand-lg navbar-dark" style="background-color :#FFFFFF;">
    <% if admin_signed_in? %>
      <%= link_to admin_users_path, class: "nav-link text-dark" do %>
       <%= image_tag 'trainee.png', size: '110x75' %>
      <% end %>
    <% else %>
      <%= link_to root_path, class: "nav-link text-dark" do %>
       <%= image_tag 'trainee.png',size: '110x75' %>
      <% end %>
    <% end %>
    <% if admin_signed_in? || user_signed_in?%>
      <button class="navbar-toggler" style="background-color :#C0C0C0;" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="background-color :#C0C0C0;"></span>
      </button>
    <% end %>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" style="justify-content:flex-end;margin:0 30px">
      <div>
        <div class="row">
          <ul class="navbar-nav ml-auto">
          <% if admin_signed_in? %>
            <li class="nav-item mx-3">
              <%= link_to 'ユーザー一覧', admin_users_path, class: "nav-link text-dark btn btn-outline-light" %>
            </li>
            <li class="nav-item mx-3">
              <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'nav-link text-dark btn btn-outline-light' %>
            </li>
          <% elsif user_signed_in? %>
            <li class="nav-item mx-3">
              <%= link_to 'マイページ', user_path(current_user), class: "nav-link text-dark btn btn-outline-light" %>
            </li>
            <li class="nav-item mx-3">
              <%= link_to 'タイムライン', timelines_user_path(current_user), class: "nav-link text-dark btn btn-outline-light" %>
            </li>
            <li class="nav-item mx-3">
              <%= link_to '投稿一覧', posts_path, class: "nav-link text-dark btn btn-outline-light" %>
            </li>
            <li class="nav-item mx-3">
              <%= link_to 'ユーザー一覧', users_path, class: "nav-link text-dark btn btn-outline-light" %>
            </li>
            <li class="nav-item mx-3">
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link text-dark btn btn-outline-light' %>
            </li>
            <% if current_user.email != "guest@example.com" %>
            <li class="nav-item">
              <%= link_to notifications_path, class: "nav-link text-dark btn btn-outline-light" do %>
                <% if current_user.notifications.where(checked: false).exists? %>
                  <i class="fa-solid fa-bell" style="color: #ffdc00;"></i>
                <% else %>
                  <i class="fa-solid fa-bell"></i>
                <% end %>
                通知一覧
              <% end %>
            </li>
            <% end %>
          <% else %>
          <% end %>
        </ul>
        </div>
        <% if admin_signed_in? || user_signed_in? %>
        <div class="row" style="display:flex; justify-content:flex-end; margin-top:5px; margin-right: 3px;">
          <%= render 'searches/search_form' %>
        <% end %>
        </div>
      </div>
    </div>
  </nav>
</header>
