<!DOCTYPE html>
<html>
  <head>
    <title>Trainee</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kurenaido&family=Zen+Old+Mincho&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/018b065641.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  </head>

  <body>
     <%= render 'layouts/header' %>
    <div class="main" style="margin-bottom: 100px; margin-top: 100px;">
      <%= yield %>
    </div>
    <% if user_signed_in? %>
      <% unless guest_user? %>
        <div class="new_post_mark">
          <%= link_to new_post_path do %>
            <i class="fa-solid fa-circle-plus fa-5x" style="color: blue;"></i>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <%= render 'layouts/footer' %>
  </body>
</html>
